mysql
passlib
aliyun-python-sdk-ecs
aliyun-python-sdk-core==2.3.1
aliyun-python-sdk-cs==2.2.1
celery
sqlalchemy
redis
#dateutil
flask_redis
flask_restful
Flask-Security==1.5.0
Flask-Bootstrap==2.2.1-1
shortuuid
celery
typing
flask_restful
supervisor
uwsgi
flask_pymongo
flask_httpauth
flask_sqlalchemy
passlib
Flask==0.12.2
Flask-gzip==0.1
itsdangerous==0.24
oauth==1.0.1
prettytable==0.7.2
requests==2.20.0
ssh-import-id==3.21
urllib3==1.7.1
wheel==0.24.0
six==1.10.0
marshmallow
elasticsearch
passlib
pymysql
flask_script
flask_migrate
MySQL-python
